body
{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background: black;
    color:white;
}
.main
{
    height: 300px;
    width: 200px;
    box-shadow: 0 0 10px rgb(177, 199, 146);
    margin: 100px;
}
.sub1
{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 141, 141);
}
li
{
    display: inline;
    justify-content: center;
    align-items: center;
    border: 1px solid black;           
}